body{
    background-color: #1b1b56;
    color: wheat;
    width: 100%;
}
section{
    border: 2px solid #47478d;
    width: 25%;
    margin: 10% auto auto auto;
    height: 20em;
    border-radius: 20px;
    font-size: 15px;   
    background-color: #47478d;
}
svg{
    margin: 10px 0 0 25%;

}
p{
    text-align: center;
    margin: 0 30px 0 30px;
}
h4{
    border: 1px solid rgb(66, 96, 124);
    background-color: rgb(66, 96, 124);
    color: orange;
    width: 65%;
    margin-left: 15%;
    border-radius: 13px;
    height: 1.5em;
    text-align: center; 
}
h2{
    text-align: center;
    font-family: courier;
}

@media screen and (max-width: 800px){
    body{
        background-color: #1b1b56;
    color: wheat;
    width: 100%;
    }
    section{
        border: 2px solid #47478d;
        width: 85%;
        height: 80vw;
        margin: 50% 5% auto 5%;
        font-size: smaller;
    }
    p{
        text-align: center;
        margin-bottom: 100%;
    }
    svg{
        width: 100%;
    }
}